@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;700;800&family=Cairo:wght@200;300;400;500;600;700;1000&family=Lalezar&family=Reem+Kufi:wght@400;600&display=swap");
:root {
  color: var(--dark-blue);
  --light-blue: #185adb;
  --blue: #185adb;
  --dark-blue: #0a1931;
  --yellow: #ffc947;
  --grey: #efefef;
  --first-font: "Reem Kufi", sans-serif;
  --second-font: "Almarai", sans-serif;
  --third-font: "Lalezar", sans-serif;
  --fourth-font: "Cairo", sans-serif;
}

* {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--second-font);
}

.unknown {
  height: 200px;
}

.footer {
  display: flex;
  background-color: var(--dark-blue);
  direction: ltr;
  justify-content: start;
  list-style: none;
  align-items: center;
  padding: 10px 0 10px 25px;
}
.footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  direction: ltr;
  text-decoration: none;
  color: var(--grey);
  font-size: 12.2px;
  padding-right: 30px;
  font-family: "Courier New", Courier, monospace;
}

.footer a i {
  margin-right: 5px;
}

.footer a:hover {
  transition: all 0.3s;
  color: var(--yellow);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.logo {
  background-color: var(--dark-blue);
  width: 37px;
  height: 37px;
  border-radius: 9999px;
  margin-left: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s;
}
.logo:hover {
  background-color: var(--blue);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  transform: translateY(-3px);
}

ul {
  height: 100%;
  direction: ltr;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 15px;
}

ul li {
  display: flex;
  align-items: center;
  height: 100%;
  direction: ltr;
  cursor: pointer;
  transition: 0.3s;
}

ul li a {
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: 100;
  font-family: var(--first-font);
  transition: 0.3s;
  padding: 15px;
}

ul li a:hover {
  background-color: var(--dark-blue);
  color: var(--yellow);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 1);
  transition: 0.3s;
}

nav {
  position: absolute;
  direction: ltr;
  z-index: 999;
  background-color: var(--yellow);
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-image: url(../IMGs/second-con-image.jpg); */
  /* background-position-y: -40px; */
  /* background-attachment: fixed; */
  overflow: hidden;
}
.container img {
  position: absolute;
  top: -10px;
  /* aspect-ratio: calc(16 / 9); */
  transform: scale(1.19);
  height: 100%;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 1);
}

.white-block {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 85%;
  padding: 20px;
}

.first-text {
  z-index: 1;
  position: relative;
  top: -100px;
  font-size: 65px;
  font-weight: 800;
  color: var(--dark-blue);
  font-family: var(--second-font);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.para {
  position: relative;
  width: 90%;
  top: -65px;
  font-size: 26px;
  font-weight: 400;
  color: var(--dark-blue);
  text-align: center;
  text-transform: uppercase;
}

.first.button {
  position: relative;
  top: -10px;
  display: flex;
  width: 15%;
  height: 13%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--yellow);
  font-size: 23px;
  font-weight: 600;
  color: var(--dark-blue);
  text-align: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.5s;
}

.first.button:hover {
  background-color: var(--dark-blue);
  color: var(--yellow);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  transform: translateY(-7px);
}

.textlong {
  position: relative;
  right: 50%;
  transform: translateX(47%);
  width: fit-content;
  font-size: 7vw;
  margin: 60px 0px 0px;
  font-weight: 800;
  letter-spacing: -1px;
  font-family: var(--second-font);
}

.textlong.services {
  top: -25px;
  margin: 100px 0px 40px;
}

.second-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 25px;
  align-items: center;
  height: 432px;
}

.cover {
  font-weight: 600;
  font-size: 1.4vw;
  padding: 25px;
  display: flex;
  align-items: center;
  height: 160px;
  background-color: var(--dark-blue);
  border-radius: 35px;
  transition: 0.3s;
  color: var(--grey);
  text-align: justify;
}

.cover:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  transform: translateY(-7px);
  cursor: pointer;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide i {
  position: relative;
  transform: scale(3.5);
  margin-bottom: 60px;
  color: var(--dark-blue);
  transition: 0.3s;
}

.slide i:hover {
  color: var(--yellow);
  transition: 0.3s;
  transform: scale(4.4);
  cursor: pointer;
}

.slide i:hover + .cover {
  border-radius: 13px;
  transition: 0.4s;
}

.images-in-the-second-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 10px 80px;
}

.images-in-the-second-main img {
  max-height: 500px;
  width: 100%;
}

.images-in-the-second-main .second-main-image {
  position: relative;
}
.images-in-the-second-main .second-main-image {
  transition: 0.3s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  outline: var(--dark-blue) 1px dashed;
  border-radius: 10px;
  padding: 10px;
  text-align: justify;
}

.images-in-the-second-main .second-main-image:hover {
  background-color: var(--dark-blue);
  color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  transform: translateY(-7px);
  cursor: pointer;
}

.divforimg {
  position: relative;
}

.category-title {
  align-items: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 80px;
}

.title-for-img {
  margin-bottom: 5px;
  font-size: 2.4vw;
  font-family: var(--fourth-font);
  font-weight: 400;
  position: relative;
  right: 50%;
  width: fit-content;
  transform: translateX(50%);
}

.second-main-image p {
  font-size: 16px;
  font-family: var(--fourth-font);
  font-weight: 500;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
}
.img-button {
  font-family: var(--first-font);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 36%;
  left: 32%;
  background-color: var(--grey);
  width: 35%;
  height: 25%;
  border-radius: 10px;
  font-size: 18px;
  color: var(--dark-blue);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.9);
  cursor: pointer;
  transition: opacity 800ms, visibility 900ms;
  opacity: 0;
  visibility: hidden;
}

.second-main-image:hover .img-button {
  transition-duration: 800ms;
  visibility: visible; /* When hovering over .img-container, show the button */
  opacity: 0.8;
}

.second-main-image:not(:hover) .img-button {
  opacity: 0; /* Fade out the button when not hovering over .img-container */
  visibility: hidden; /* Hide the button when not hovering over .img-container */
}

.img-button:hover {
  background-color: var(--dark-blue);
  color: white;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
  outline: #efefef 1px solid;
  cursor: pointer;
}

.img-button:not(:hover) {
  opacity: 0.8;
}

.holding-more {
  position: relative;
}

.holding-more > a {
  text-decoration: none;
}

.see-more {
  text-transform: uppercase;
  position: relative;
  background-color: var(--yellow);
  color: var(--dark-blue);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  font-size: 23px;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px;
  margin: 20px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 2.3vw;
  font-family: var(--third-font);
  right: 50%;
  width: 20%;
  transform: translateX(50%);
}

.see-more > i {
  transform: translateY(-10%) translateX(-20px);
  font-size: 2.2vw;
}

.see-more:hover {
  background-color: var(--dark-blue);
  color: var(--yellow);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  transform: translateX(50%) translateY(-4px);
}

/* Mobile styles */
@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .logo {
    width: 36px;
    height: 36px;
    margin-left: 18px;
  }

  ul li a {
    padding: 25px 15px;
    font-size: 16px;
  }

  nav {
    height: 70px;
  }

  .container {
    background-image: none;
    padding-top: 35px;
  }

  .white-block {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
  }

  .first-text {
    top: -20px;
    font-size: 10vw;
    letter-spacing: -1px;
  }

  .para {
    font-size: 3.2vw;
    line-height: 4.5vw;
  }

  .first.button {
    font-size: 3.7vw;
    top: 0.1px;
    letter-spacing: 0px;
    width: 25vw;
  }

  .cover {
    align-items: start;
    text-align: left;
    font-size: 2vw;
    border-radius: 15px;
  }

  .cover:hover {
    border-radius: 0px;
  }

  .slide i:hover + .cover {
    border-radius: 0px;
    transition: 0.3s;
  }

  .slide {
    margin-bottom: 40px;
  }

  .images-in-the-second-main {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
  }

  .images-in-the-second-main .second-main-image {
    transition: 0.3s;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    padding: 7px;
    text-align: start;
  }

  .second-main-image p {
    font-size: 3vw;
  }

  .img-button {
    font-size: 3.5vw;
    letter-spacing: 0px;
    left: 27%;
    width: 45%;
    height: 30%;
  }
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    background-attachment: scroll;
  }

  .white-block {
    width: 70%;
  }

  .slide {
    margin-bottom: 50px;
  }
}

/* Desktop styles */
@media (min-width: 1025px) {
  /* Add more specific styles for larger screens if needed */
}
